<a href="https://colab.research.google.com/github/DanielMGuedes/.NET_training/blob/main/Linguagen_R_Tratamento_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Preparação do ambiente de análise de dados em R**

## **1.1 Instalando o R**

Primeiramente, vamos relembrar o conceito de linguagem R:

A linguagem R é uma linguagem de programação usada para análise estatística e produção de gráficos. Trata-se de um software gratuito com código aberto e com uma linguagem acessível, o que facilita a sua usabilidade.

Para podermos trabalhar com o R, é necessário fazer o download do programa no computador. Portanto, vamos abrir o navegador e, na barra de endereço, digitar o link: https://cran.r-project.org/. Em seguida, devemos escolher a versão de acordo com o sistema operacional utilizado e executar o arquivo de instalação. 

Após instalar o R em seu computador, é necessário instalar uma IDE (RStudio), para programar. 

##**1.2 Instalando o RStudio**

Sobre o RStudio, é importante saber que ele é um software livre de ambiente de desenvolvimento integrado para R, uma linguagem de programação para gráficos e cálculos estatísticos. Pode-se afirmar ainda que o RStudio possui uma interface gráfica que simplifica o uso da linguagem R na manipulação de dados, na criação de gráficos e nos cálculos estatísticos. 

Depois dessa breve explicação, vamos aprender a instalar o programa RStudio. Para isso, vamos abrir o navegador e, na barra de endereço, digitar o link: https://rstudio.com/products/rstudio/download/#download. A página exibida apresentará uma lista com os principais navegadores. Em seguida, devemos escolher a versão compatível com o sistema operacional utilizado e executar o arquivo de instalação. 

##**1.3 Conhecendo o RStudio**

Após a instalação do programa RStudio, para usá-lo efetivamente, é necessário conhecer a sua estrutura.

O RStudio é dividido em quatro janelas ou quadrantes: “Source”, “Console”, “Environment” e “Visualização”.

###Source
* Parte superior à esquerda é o local onde o códdigo é digitado.

###Console
* Parte inferior a esquerda é onde é exibido o resultdo do que é executado no Source

###Environment
* Parte Superior a direita é exibido os objetos que estão carregados na memória. Também é utilizada para remover ou salvar objetos.

###Visualização

* Parte Inferior a direita é composta por 4 Abas:
> **FILES**: Exibe a estrutura de arquivos do projeto /
> **PLOTS**: Exibe os Gráfico. /
> **PACKAGES**: Permite instalar, atualizar e pesquisar pacotes instalados. /
> **Help**: Exibe a documentação quando a função"help()" é executada.

## Colab.google "R"
Caso não queira instalar nada em seu computador você utilizar o ambiente de colaboração e desenvolvimento do goggle o Collaboratori ou mais conhecido como colab. A desvantagem são os recursos e facilidades que uma IDE trás a programação.
Segue Link para novo notebook na linguagem R.

https://colab.research.google.com/notebook#create=true&language=r

# **2. Análise de Dados em Linguagem R**
A análise de dados tem grande importância na tomada de decisões, auxiliando instituições na detecção de anomalias, monitoramento de indicadores ou melhoria de processos. 
Neste tutorial, aprenda a utilizar a linguagem R na preparação e exploração dos dados, apresentando os resultados por meio de gráficos e painéis gerenciais.

#  2.1 - Criando o primeiro Script em R ** 

*   Criar uma variavel
* Conhecer o comando "<-" = recebe(serve para atribuir valores a uma variavel
*   utilizar o comando "print()"



vamos criar uma variavel "msg" e atribuir uma mensagem "Hello Word"

In [ ]:
msg <- "Heloo word"

para mostra na tela o valor armazenado na variavel basta  digitar o comando>

print(msg)

In [ ]:
print (msg)

[1] "Heloo word"

# 2.2 - Comentar seu Código (Documentação) 

* Aprender a comentar o código utilizando "#"

> Vamos criar comentários em nosso código

Obs.: Uma boa prática no desenvolvimento de aplicações e códigos, é utilizar de comentários ao longo do cógigo para facilitar a identificação e objetivos daquele código. Chamamos isso de "Documentação do Programa"

In [ ]:
msg <- "Heloo word"
print (msg)
# Isso é um comentário

[1] "Heloo word"

observe que a saída após a execução do código, não mostra a mensagem antes de "#"

# 2.3 - Documentação da Função

Toda vez que tiver dúvida sobre um parametro ou função que será utilizada é possível consultar a documentação através do comando "?" na frente da função que se tem dúvida.
Ex.:

In [ ]:
?print

O Programa tráz como saída a documentação da função "print".

# 2.4 - Instalando Pacotes
Uma das grandes vantagens do R são diversos pacotes disponíveis. 
Para usarmos as funções que um pacote oferece, primeiro é necessário instalar o pacote desejado por meio da função “install.packages()” e depois carregá-lo utilizando a função “library()”.
Exemplo:

In [ ]:
install.packages ("ggplot2")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(ggplot2)

Após essa instalação e carregamento. Já podemos utilizar as funções do Pacote GGPLOT2

# 2.5 - Estruturas de Dados em R

Na linguagem R temos diversas estruturas que permitem armazenar os dados produzidos. Nesse tópico, vamos conhecer essas estruturas e suas principais funções.

**Vetor**
Armazena um conjunto de valores ordenados chamados de elementos. Todos os elementos de um vetor devem ser do mesmo tipo.

**Fator**
Armazena valores categóricos (nominal ou ordinal).

**Lista**
É um tipo especial de vetor, porém é possível adicionar elementos de tipos diferentes.

**Data frame**
É utilizado para organizar elementos em linhas e colunas, semelhante a uma planilha ou base de dados. Além disso, pode ser formado por listas ou vetores.

**Matriz**
Armazena dados tabulares semelhante ao data frame, porém só aceita um tipo de dado.

## 2.5.1 - Vetores

In [ ]:
#Vamos criar o vetor cidade com a função: "c()" - Obs.: A virgula separa cada elemento do vetor. Como estamos digitando strin(texto, precisamos fazer isso entre aspas)
cidade <- c("Brasília", "São Paulo", "Rio de Janeiro", "Porto Alegre")

cidade

[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

In [ ]:
#Agora vamos criar outros vetores  "temperatura e regiao" com a função "c() "

temperatura <- c(32,22,35,17)
regiao <- c(1,2,2,3)

### Operações com Vetores

In [ ]:
# Acessando o primeiro elemento de um vetor ...
#Comando: NomeVetor[posição]

cidade[1]

#Obs1.: As informações dos vetores sempre vão utilizar []
#Obs2.: Diferente das Outras Linguagens de Programação em "R" a contagem de elementos na mémoria começa em 1.

[1] "Brasília"

In [ ]:
# Acessar um intervalo de valores denro do vetor:
# Comando: NomeVetor [x1:x2] (x1 = inicio e x2 = fim)
temperatura[1:3]

[1] 32 22 35

In [ ]:
# Copiar um vetor, Para copiar um vetor é necessário ter uma outra variavél que vai receber o vetor
# por exemplo vamos declarar a nova variavél "cidade2" e depois atribuir o vetor cidade nessa variavel. 
# Comando: NovaVariavel <- NomeVetor
cidade2 <- cidade
cidade2

[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

In [ ]:
#Excluir um elemento do VETOR.
# para excluir um elemento utilizamos o sinal de - (menos)
#Comando: NomeVetor[-posição]
temperatura[-2]
# Retotnou o vetor temperatura, sem o elemento que estava na posição 2 = 22

[1] 32 35 17

In [ ]:
# Alterar/Substituir um elemento do Vetor.
# é necessário declarar o Vetor com a posição que será alterada.
# Comando: NomeVetor[posição <- "Alteração"]

cidade2[3] <- "Belo Horizonte"
cidade2

# A posição 3 do Vetor cidade2 foi alterada de "Rio de Janeiro" para "Belo Horizonte"

[1] "Brasília"       "São Paulo"      "Belo Horizonte" "Porto Alegre"

In [ ]:
# Incluir um novo elemento.
#Comando: NomeVetor[NovaPosiçao] <- "NovoElemento"

cidade2[5] <- "Curitiba"
cidade2
# A SAída mostra que o Vetor agora possui 5 elementos

[1] "Brasília"       "São Paulo"      "Belo Horizonte" "Porto Alegre"
[5] "Curitiba"

In [ ]:
# Deletar/Apagar o Vetor: (NULL)
# Comando: NomVetor <- NULL

cidade2 <- NULL
cidade2

NULL

## 2.5.2 - Fator

Fatores armazem variáveis categóricas (de categorias) e tipos enumerados.
Para criar os fatos utilizamos a função "factor()"

In [ ]:
#Criar a variável "UF", com uma lista de unidades federativas
?factor
UF <- factor(c("DF", "SP", "RJ", "RS"))
UF
# A SAída do comando foi demonstrar as categorias existentes chamadas "Levels"

[1] DF SP RJ RS
Levels: DF RJ RS SP

In [ ]:
# A Funcionalidade "fatores ordenados" :
#Parâmetros: "leves" e "ordered".

grau.instrucao <- factor(c("Nível Médio",
                        "Superior",
                        "Nivel Médio",
                        "Fundamental"),
                  levels = c("Fundamental",
                           "Nível Médio",
                            "Superior"),
                  ordered = TRUE)

In [ ]:
grau.instrucao

[1] Nível Médio Superior    <NA>        Fundamental
Levels: Fundamental < Nível Médio < Superior

Ao visualizar o fator ordenado "grau.instrucao", que foi criado. É possível verificar a ordem atribuida:O Sinal de menor indica que "Fundamental", vem antes de "Nível Médio" que vem antes de "Superior".

## 2.5.3 - Lista

Vamos aprender a estrutura de uma lista. Para criar uma lista utilizamos: "list()"

In [ ]:
?list()
pessoa <- list(sexo = "M", cidade = "Brasília", idade = 20)

pessoa

$sexo
[1] "M"

$cidade
[1] "Brasília"

$idade
[1] 20

In [ ]:
#Para acessar um item da lista, utilizamo a notação "Lista[posição]", que ira retornar o valor da posição informada:
# O 1º exemplo retorna o atributo e o valor da lista
# O 2º exemplo retorna apenas o valor da lista
pessoa[1] 
#Ou
pessoa[[1]]

$sexo
[1] "M"

[1] "M"

In [ ]:
# Deletar/Apagar uma Lista: (NULL)
# Comando: NomeLista <- NULL

pessoa[["idade"]] <- 22
pessoa

$sexo
[1] "M"

$cidade
[1] "Brasília"

$idade
[1] 22

In [ ]:
pessoa[["idade"]] <- NULL
pessoa

$sexo
[1] "M"

$cidade
[1] "Brasília"

In [ ]:
# Filtrando elementos da lista
# Neste caso o valor não é deletado da lista.
pessoa[c("cidade", "sexo")]

$cidade
[1] "Brasília"

$sexo
[1] "M"

Uma lista aceita diferentes tipo de dados. No exemplo abaixo vamos criar uma lista com o vetores criados anteriormente.
** Lista de Listas**

In [ ]:
# Lista de Listas
cidades <- list(cidade = cidade,
                  temperatura = temperatura,
                  regiao = regiao)

In [ ]:
cidades

$cidade
[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

$temperatura
[1] 32 22 35 17

$regiao
[1] 1 2 2 3

## 2.5.4 - data.frame

**Vamos aprender a criar data.frame**

Um data.frame é uma estrutura que organiza elementos semelhantes a uma planilha ou base de dados.

In [ ]:
# Neste exemplo criamos um data.frame com os VETORES "cidade" e "temperatura"
df <-data.frame(cidade, temperatura)
df

  cidade         temperatura
1 Brasília       32
2 São Paulo      22
3 Rio de Janeiro 35
4 Porto Alegre   17

In [ ]:
#Criando um data.frame com a LISTA cidades2
df2 <- data.frame(cidades)
df2

  cidade         temperatura regiao
1 Brasília       32          1
2 São Paulo      22          2
3 Rio de Janeiro 35          2
4 Porto Alegre   17          3

As saídas mostram o número de Linhas e numero de colunas, respectivamente(4 x 2) e (4 x 3)

### **Operações com data.frame**

In [ ]:
# Para filtrar uma informação digitamos o nome do data.frame e entre colchetes colocamos a Linha e a Coluna que desejamos
# Comando: data.frame[Linha,Coluna]
df[1,2]

[1] 32

In [ ]:
# No exemplo como não colocamos a posição da Linha o filtro trouxe toda a Coluna 1 (posição 1)
df[,1]

[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

In [ ]:
# Como não informamos a posição da coluna, apenas a Linha 1, o filtro trouxe TODA a linha 1
df[1,]

  cidade   temperatura
1 Brasília 32

In [ ]:
# Selecionando as 3 primeiras linhas, da 1ª e 3ª coluna
df2 [c(1:3), c(1,3)]

  cidade         regiao
1 Brasília       1
2 São Paulo      2
3 Rio de Janeiro 2

In [ ]:
# Verificar o nome das Colunas:
names(df)

[1] "cidade"      "temperatura"

In [ ]:
# Verificar o numero de Linhas e de Colunas:
dim(df)
# O resultado mostra que o data.frama possui 4 linhas e 2 colunas (4x2)

[1] 4 2

In [ ]:
#Ver os TIPOS dos dados das colunas:
str(df)
# A saida mostra que ac COluna Cidade é do tipo: "chr" e temperatura é do tipo "num"

'data.frame':	4 obs. of  2 variables:
 $ cidade     : chr  "Brasília" "São Paulo" "Rio de Janeiro" "Porto Alegre"
 $ temperatura: num  32 22 35 17

In [ ]:
# Para buscar os daods de uma coluna, existem duas formas básicas:
# Comandos: "data.frame$NomeColuna" ou " data.frame['NomeColuna']"
df$cidade
#A saida da consulta é apenas os dados na COLUNA

[1] "Brasília"       "São Paulo"      "Rio de Janeiro" "Porto Alegre"

In [ ]:
df['cidade']
# Aqui além dos dados da coluna vemos também outras informações do data.frama como:
# dimensão, nome do dataframe e tipo da coluna.

  cidade
1 Brasília
2 São Paulo
3 Rio de Janeiro
4 Porto Alegre

## 2.5.5 - Matrizes

**Vamos aprender a criar matrizes**

As matrizes também organizam elementos com em uma planilha ou base de dados. A diferença entre o DataFrame é que a matrix só aceita um tipo de dados.

In [ ]:
#Criando Matrizes: Comando: "matrix()"
matrize <- matrix(seq(1:9), nrow = 3)
matrize
# A saida mostra: Uma Matrix, 3x3, com tipo "int"
# Os dados da Matriz são a sequência de 1 ao 9 "seq(1:9)", distribuido em 3 linhas(nrow=3)

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [ ]:
# vamos criar outra Matriz e especificar a quantidade de colunas EM 5 e dar nome as colunas
# o parâmetro "byrow = TRUE" inidca que a matriz deverá ser preenchida por linhas
# e o dimnames determina o nome das colunas
 matrize2 <- matrix(seq(1:25),
                    ncol = 5,
                    byrow = TRUE,
                    dimnames = list(c(seq(1:5)),
                                    c('A','B','C','D','E')
                                    )
                    )
matrize2

  A  B  C  D  E
1  1  2  3  4  5
2  6  7  8  9 10
3 11 12 13 14 15
4 16 17 18 19 20
5 21 22 23 24 25

### Filtrar os Dados da matrix
Para filtrar os dados devemos informar a liha e as colunas entre colchetes

In [ ]:
#filtrando a matriz
matrize2[c(1:2), c('B', 'C')]
# O resultado traz os dados da coluna B e C nas linhas 1 e 2

  B C
1 2 3
2 7 8

Essa são as funcionalidades básicas na linguagem R para armazenar estrututuras de dados desse estudo:
* Matrizes
* Data Frames
* Listas
* Fatores
* Vetores

# 2.6 - Estruturas de Repetição em R - "for()" e "while()"

Nesse tópico, vamos aprender como utilizar as estruturas de repetição na linguagem R, pegando duas como exemplo: For e While. 

A função “for()” é utilizada para acessar cada elemento de uma sequência (vetor, coluna de matriz ou data frame matriz), enquanto a função “while()” é utilizada para repetir uma operação por um determinado número de vezes.

In [ ]:
# A função "for()" é utilizada para acessar cada elemento de uma estrutura de dados: vetor, matrizes ou data frame

#Loops
#For
#Comando: for(valorinsequencia) {
#  código...
#}
# Exemplo for
for (i in seq(12)) {
  print (i)
}
# No exemplo criamos uma sequencia de 12 elementos coma  função "seq()"
# A Saída temos uma operação para cada iteração da função "for()" no caso 12 iterações

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11
[1] 12

In [ ]:
# A função "while()" é utilizada para repetir uma operação por uma determinada quantidade de vezes
# Deve-se inserir um parametro como condição . E enquanto a condição for verdadeira vai haver repetição.
i <- 0
while (i <= 10) {
  # código
  print(i)
  i = i +1
}
# observe que a variavel "i"(contadora) é criada fora da estrutura. Depois a "contadora" é incrementada dentro da estrutura

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

# 2.7 - Controle de fluxos - função "if()" e "else()"

O programa linguagem R possui uma função que permite testar condições e controlar o fluxo do script. 

Essa função permite executar parte de um código somente se alguma condição for atendida, a fim de testar as condições e controlar o **fluxo do script.**

In [ ]:
# Declaramos a vairavel x = 10 e colocamos um condição que se o valor de X maior que 0 ele vai dar o print
x = 10
if (x>0) {
  print("Numero positivo")
}

# como valor digitado é maior que 10 a saida foi o print. Teste com um valor negativo (não ter nenhuma saída)

[1] "Numero positivo"

In [ ]:
# Já a função "if()"" associada a função "else if()" é usada para testar diversas condições

nota = 5
if (nota >= 7) {
  print("Aprovado")
} else if (nota > 5 && nota < 7) {
  print("Recuperação")
} else {
  print("Reprovado")
  }

  # Faça teste alterando o valor da nota pra ver os resultados diversos.

[1] "Reprovado"

# 2.8 - Criando Funções

O R já vem com várias funções instaladas e, com elas, você pode executar muitas tarefas, conforme mostramos até agora. 

Podemos também criar nossas funções. Com as funções facilitamos o trabalho e diminui o tempo de execução de suas análises.

In [1]:
# Para criar funções utilizamos a palavra "function" e colocamos os parâmetros
# criando uma função (par.impar) que vai dizer seo o número (num) é impar ou par
par.impar <- function(num) {
  if ((num %% 2)==0) {
    return ("Par")
    }else
    return("Impar")
  }
  # A função vai verificar se o número informado possui módulo(resto da divisão) igual a zero. Se for Igual a Zero o número é par, caso contrário ele é impar

In [2]:
# Usando a função criada:

num = 3
par.impar(num)
# utilizando apenas a função criada temos o nosso resultado

[1] "Impar"

A criação de funções no R, vai facilitar as análises e criação de scripts

# 2.9 Utilizando Funções apply

A função “apply”, na verdade, é um conjunto de funções, ou seja, ela possui algumas variações, tais como: “lapply”, “tapply”, “sapply” e outras. 
Veremos algumas: